.header-wrapper a {
    text-decoration: none;
    color: inherit;
}
.header__menu-list > li {
    transition: .3s;

}
.header__menu-list > li:hover,
.header__menu-list > li.active {
    background: var(--bs-primary);
    color: #fff;
}
.header__contacts a:hover {
    text-decoration: underline;
}
@supports (background-clip: text) {
    .header__logo span {
        background: linear-gradient(90deg, #ff4500, #facc20);
        background-clip: text;
        color: transparent;
    }
}
label.required::after {
    content: '*';
    color: rgb(var(--bs-danger-rgb));
    margin-left: 3px;
}
.main-form textarea {
    min-height: calc(calc(var(--bs-border-width) * 2) + .375rem * 2 + 3rem * 1.6);
    max-height: calc(calc(var(--bs-border-width) * 2) + .375rem * 2 + 7rem * 1.6);
}
